* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --- Let me do it now --- */
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(238, 133, 133);
}

.container {
  width: 550px;
  border: 1px solid #777;
  padding: 1rem;
  background: blue;
  box-shadow: 2px 3px 5px gray;
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
}

.img-main,
.comment-img {
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.main-section-post {
  color: #fff;
}
.main-section-post p {
  margin: 0.5rem 0;
}
.comment-img {
  width: 25px;
  height: 25px;
  margin-right: 0.5rem;
  border: 1px solid #000;
}
.main-section {
  padding: 0px 10px;
}

.comment-section {
  margin: 1rem 0;
}
.comment {
  display: flex;
  margin-bottom: 1rem;
  background-color: rgb(255, 255, 255);
  padding: 0.5rem;
  opacity: 0.8;
}
